.page-wrapper {
    overflow: visible !important;
}

.hemterest-wrapper {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (min-width: 60em) {
    .hemterest-wrapper {}
}

.hemterest-wrapper figure {
    border-radius: 2px;
    background-color: white;
    transition: all 0.4s ease-in-out;
    backface-visibility: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.hemterest-wrapper figure img {
    display: block;
    object-fit: cover;
    height: 400px;
    width: 600px;
}

.carousel {
    height: 160px;
    background: white;
}

.carousel__button--next,
.carousel__button--prev {
    display: none;
}

.carousel__wrapper img {
    display: none !important;
}

.hemterest-button {
    position: absolute;
    top: calc(55px + 1rem);
    left: 1rem;
    z-index: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    font: 1.5rem Open Sans, Helvetica, Arial, sans-serif;
    padding: 10px 16px;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition: border-color 0.1s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-color: #1493bc;
    border-color: #1493bc;
    color: #fff;
}

.hemterest-button:hover {
    color: white;
}

.hemterest-button.hemterest-price {
	    font-size: 3rem;
}
