.page-wrapper {
    overflow: visible !important;
}

.hemterest-wrapper {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    width: 100vw;
}

.hemterest-wrapper-3,
.hemterest-wrapper-4 {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.hemterest-wrapper figure {
    border-radius: 2px;
    background-color: white;
    transition: all 0.4s ease-in-out;
    backface-visibility: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.hemterest-wrapper figure img {
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    height: 400px;
    width: 100%;
}

.property-gallery__image-container {
    height: 0px !important;
    overflow: hidden !important;
}
